<!--
<div class="container">
	<md-content layout-gt-sm='row' layout-padding>
		
			<md-toolbar md-medium-tall>
			<h2>Login</h2>
				</md-toolbar>
-->
			<!--
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
-->
		
<!--
	</md-content>
	<md-content layout-padding>
		<form ng-submit="vm.login(form)" novalidate>

			<md-input-container>
				<label>Email</label>

				<input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
				<md-input-container>

					<md-input-container>
						<label>Password</label>

						<input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
						<md-input-container>

							<div class="form-group has-error">
								<p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
									Please enter your email and password.
								</p>
								<p class="help-block" ng-show="form.email.$error.email && vm.submitted">
									Please enter a valid email.
								</p>

								<p class="help-block">{{ vm.errors.other }}</p>
							</div>
						</md-input-container>

						<md-button class="md-warm" type="submit">
							Login
						</md-button>
						
          <md-button class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Register
					</md-button>

		</form>
	</md-content>
</div>
-->
			
<!--			<div(ng-app="MyApp", ng-controller="AppCtrl", layout="column", layout-align="center center", layout-fill)></div(ng-app>-->

  <div class='loginF' layout="column"  layout-fill layout-padding>
	<md-toolbar layout-padding>
			<h2 class='md-toolbar-tools'><span>Login</span></h2>
				</md-toolbar>
</md-toolbar>
			<md-content class="md-padding" layout="column">
				
				<md-input-container>
				<label>Email</label>

				<input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
				</md-input-container>

					<md-input-container>
						<label>Password</label>
						<input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
				</md-input-container>
				<div layout='row' layout-align='center center'></div>
				<md-button class="md-raised md-primary" type="submit">
							Login
						</md-button>
				
				
			</md-content>
					
		</div>