<style>
 .md-button:not([active]):hover {
    color: skyblue;
  }
/*
	p {
		float: right;
	}
*/
	
</style>

<section  layout="row" flex>

    <md-sidenav
        class="md-sidenav-left "
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')"
        md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Side Nav</h1>
      </md-toolbar>
      <md-content >
        <!-- <md-subheader class="md-no-sticky">Secondary Menus</md-subheader> -->
 <md-list-item>
<!--	  <md-icon class="material-icons">&#xE6DD;</md-icon>-->
   <p>Reports</p>

   <md-menu class="md-secondary">
     <md-button class="md-icon-button">
       <md-icon md-svg-icon="communication:message"></md-icon>
     </md-button>
     <md-menu-content width="4">
       <md-menu-item>
         <md-button ui-sref=".skills">
           Skills
         </md-button>
       </md-menu-item>
       <md-menu-item>
         <md-button>
           Clients
         </md-button>
       </md-menu-item>
       <md-menu-divider></md-menu-divider>
       <md-menu-item>
         <md-button>
           Recruiter
         </md-button>

       </md-menu-item>
     </md-menu-content>
   </md-menu>

 </md-list-item>


          <md-list-item ui-sref=".employees">
<!--<md-icon class="md-default-theme" class="material-icons">&#xE862;</md-icon>-->

            Employees
          </md-list-item>
          <md-list-item  ng-click="null">
<!--						<md-icon class="md-default-theme" class="material-icons">&#xE7FE;</md-icon>-->
            <p> Recruiter </p>
          </md-list-item>
          <md-list-item  ng-click="null">
<!--						<md-icon class="md-default-theme" class="material-icons">&#xE862;</md-icon>-->
            <p> Register Quarter </p>
          </md-list-item>
      </md-content>
    </md-sidenav>
              



   <ui-view  flex layout="row"></ui-view>





</section>
					
					