<md-dialog flex="60" style="max-height: 75%">
	<md-toolbar layout-padding layout="column">

		<h1 class="md-toolbar-tools">Add Employee</h1>
	</md-toolbar>

	<!--	employeeName IS THE NAME OF THE OBJECT ALL OF THESE VALUES ARE BEING WRITTEN TO-->

	<md-dialog-content id="inputContainer" class="inputDemo" ng-cloak>

		<form name="employeeForm" novalidate>
			
			<div layout-padding layout="row">
				<md-input-container class="md-block" flex="50">
					<label>First Name</label>
					<input type="text" required name="userName" ng-model="vm.employeeName.first_name" required ng-pattern="/^[^\W\d_]+$/">
					 <div ng-messages="employeeForm.first_name.$error">
                <div ng-message="required">first name is required.</div>
              </div>
				</md-input-container>

				<md-input-container class="md-block" flex="50">
					<label>Last Name</label>
					<input type="text" required name="userName" ng-model="vm.employeeName.last_name" required ng-pattern="/^[^\W\d_]+$/">
						<div ng-messages="employeeForm.last_name.$error">
                <div ng-message="required">last name is required.</div>
              </div> 
				</md-input-container>
			</div>

			<div layout-padding layout="row">
				<md-content class="md-block" flex="50">
					<label>Client</label>
					<md-chips ng-model="vm.employeeName.client" md-separator-keys="vm.customKeys" required md-max-chips="7"></md-chips>
					<br/>
				</md-content>


				<md-content class="md-block" flex="50">
					<label>Skill</label>
					<md-chips ng-model="vm.employeeName.skill" md-separator-keys="vm.customKeys" required md-max-chips="7"></md-chips>
					<br/>

				</md-content>
			</div>

			<div layout-padding layout="row">
				<md-input-container class="md-block" flex="50">
					<label>Recruiter</label>
					<input type="text" required name="userName" ng-model="vm.employeeName.recruiter" ng-pattern="/^[^\W\d_]+$/">
						 <div ng-messages="employeeForm.recruiter.$error">
                <div ng-message="required">recruiter name is required.</div>
              </div>
				</md-input-container>

				<md-input-container class="md-block" flex="50">
					<label>Placement Type</label>
					  <md-select name="placement_type" ng-model="vm.employeeName.placement_type" required>
              <md-option value="Part-time">Part-time</md-option>
              <md-option value="Full-time">Full-time</md-option>
              <md-option value="Project">Project</md-option>
            </md-select>
						 <div ng-messages="employeeForm.placement_type.$error">
                <div ng-message="required">placement type is required.</div>
              </div>
				</md-input-container>
			</div>

			<div layout-padding layout="row">

				<md-input-container class="md-block" flex="50">
					<label>Salary</label>
					<input type="number" required name="userName" ng-model="vm.employeeName.salary">
					<div ng-messages="employeeForm.salary.$error">
                <div ng-message="required">a number value is required.</div>
              </div>
				</md-input-container>


				<md-input-container class="md-block" flex="50">
					<label>Insurance</label>
					<input type="number" required name="userName" type="" ng-model="vm.employeeName.insurance">
					<div ng-messages="employeeForm.insurance.$error">
                <div ng-message="required">a number value is required.</div>
              </div>
				</md-input-container>
			</div>

			<div layout-padding layout="row">
				<md-input-container class="md-block" flex="50">
					<label>Relocation</label>
					<input type="number" required name="userName" ng-model="vm.employeeName.relocation">
					<div ng-messages="employeeForm.relocation.$error">
                <div ng-message="required">a number value is required.</div>
              </div>
				</md-input-container>

				<md-input-container class="md-block" flex="50">
					<label>Immigration</label>
					<input type="number" required name="userName" ng-model="vm.employeeName.immigration">
					<div ng-messages="employeeForm.relocation.$error">
                <div ng-message="required">a number value is required.</div>
              </div>
				</md-input-container>

			</div>

			<div layout-padding layout="row">
				<md-input-container class="md-block" flex="50">
					<label>Pay Vacation Cost</label>
					<input type="number" required name="userName" ng-model="vm.employeeName.pay_vacation_cost">
					<div ng-messages="employeeForm.pay_vacation_cost.$error">
                <div ng-message="required">a number value is required.</div>
              </div>
				</md-input-container>

				<md-input-container class="md-block" flex="50">
					<label>Hourly cost</label>
					<input type="number" required name="userName" ng-model="vm.employeeName.ksquare_hourly_cost">
					<div ng-messages="employeeForm.ksquare_hourly_cost.$error">
                <div ng-message="required">a number value is required.</div>
              </div>
				</md-input-container>
			</div>

			<div layout-padding layout="row">
				<md-input-container class="md-block" flex="50">
					<label>Target Bill Rate</label>
					<input type="number" required name="userName" ng-model="vm.employeeName.target_bill_rate">
					<div ng-messages="employeeForm.target_bill_rate.$error">
                <div ng-message="required">a number value is required.</div>
              </div>
				</md-input-container>

				<md-input-container class="md-block" flex="50">
					<label>Client Bill Pay</label>
					<input type="number" required name="userName" ng-model="vm.employeeName.client_bill_pay">
					<div ng-messages="employeeForm.client_bill_pay.$error">
                <div ng-message="required">a number value is required.</div>
              </div>
				</md-input-container>
			</div>

			
			<md-content ng-show="vm.addControls">
			<section layout-padding layout="row" layout-align="center center">
					<md-button class="md-primary md-raised" ng-click="vm.addEmployee(vm.employeeName)"
					ng-disabled="employeeForm.$invalid">
						Submit
					</md-button>
<!--				ng disabled -->
					<md-button class="md-primary md-raised" ng-click="vm.closeDialog()" >
              Cancel
            </md-button>
			</section>
			</md-content>
			
			<md-content ng-show="vm.editControls">
			<section layout-padding layout="row" layout-align="center center">
					<md-button class="md-primary md-raised" ng-click="vm.showConfirmSubmit()">
						Save
					</md-button>
				
					<md-button class="md-primary md-raised" ng-click="vm.closeDialog()" >
              Cancel
            </md-button>
			</section>
			</md-content>
			
		</form>
		</md-content>
	</md-dialog-content>


</md-dialog>